<!-- 左側リストビュー　-->
   <div class="left_dashboard">
    <div class="left_dashboard_list">
     <ul>
     <% if User.exists?(user_type: '管理者') %>
      <%= link_to '/dashboard',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_home40x40.png',class: 'dashboard_icon')%>
        <span>ホーム</span>
       </li>
      <% end %>
      
      <%= link_to '/reports/new',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_sekou40x40px+.png',class: 'dashboard_icon')%>
        <span>新規工事申請</span>
       </li>
      <% end %>
      
      <%= link_to '/lineforms/new',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_application40x40px.png',class: 'dashboard_icon')%>
        <span>新規回線申込</span>
       </li>
      <% end %>
      
      <%= link_to '/report/new',class: 'link_box' do %>
       <li class="current">
        <%= image_tag('/icon_bill40x40px.png',class: 'dashboard_icon')%>
        <span>管理物件一覧</span>
       </li>
      <% end %>
      
      <%= link_to '/report/new',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_user40x40px.png',class: 'dashboard_icon')%>
        <span>登録テナント一覧</span>
       </li>
      <% end %>
      <% else %>
      
      <%= link_to '/dashboard',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_home40x40.png',class: 'dashboard_icon')%>
        <span>ホーム</span>
       </li>
      <% end %>
      
      <%= link_to '/reports/new',class: 'link_box' do %>
       <li>
        <%= image_tag('/icon_sekou40x40px+.png',class: 'dashboard_icon')%>
        <span>新規工事申請</span>
       </li>
      <% end %>
      
      <%= link_to '/lineforms/new',class: 'link_box' do %>
       <li class="current">
        <%= image_tag('/icon_application40x40px.png',class: 'dashboard_icon')%>
        <span>新規回線申込</span>
       </li>
      <% end %>
      
      <% end %>
      
     
    </ul>
   </div>
  </div>
   <!-- 左側リストビュー終了　-->
   <%= form_with(model: @building, local: true) do |form| %>
   
   <div class="report_form_list">
     <div class="report_title">
       <h4>物件情報</h4>
     </div>
     
     <div class="report_form_contenaer">
         
     <div class="report_area">
       <div class="report_left_area">
          <p class="report_sub">回線備考</p>
       </div>
          <%= form.text_field :line_others, placeholder: "電話機能も利用したい 等",class: "report_form_field" %>
     </div>
     
     <div class="report_area">
     <div class="report_left_area">
        <p class="report_sub">開通希望日</p>
        <span>必須</span>
     </div>
        <%= form.date_field :hope_to_open ,class: "date_time" %>
     </div>
      
    </div>
   </div>
 <div class=“right_dashboard”>
   <h3>物件を新規登録</h3>
 </div>
 